.display-location {
}

.display-location img {
  background-size: cover;
  width: 100%;
  max-height: 45vh;
  object-fit: none;
}
.details-container {
  width: auto;
  padding: 30px 50px;
  color: rgb(112, 112, 112);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  column-gap: 20px;
}

.display-location__content {
  height: 30vh;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 10px;
}
.display-location__content .location-title {
  font-size: 28px;
  font-weight: 800;
}
.display-location__content .location-stars {
  color: rgb(73, 221, 191);
}
.details-container .display-price {
  height: 30vh;
}
.details-container .display-price span {
  font-weight: bold;
}

.display-location__edit {
  height: 30vh;
  width: 300px;
  border: 1px solid silver;
  box-shadow: 5px 5px 20px silver;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.display-location__edit h2 {
  font-weight: 300;
  font-size: 18px;
  padding-left: 20px;
  color: #258192;
}
.display-location__edit input {
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #258192;
  padding: 12px 10px;
  width: 150px;
  outline: none;
  color: rgb(112, 112, 112);
  border-radius: 20px;
  transition: all 0.5s ease;
}
.display-location__edit input:focus {
  width: 200px;
  border-color: rgb(73, 221, 191);
}

/*No arrow shown in input html*/
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}
.button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.modify-button {
  font-size: 15px;
  cursor: pointer;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  padding: 10px 10px;
  border-radius: 40px;
  width: 90px;
  align-self: center;
}

.confirm {
  background-color: rgb(73, 221, 191);
  color: white;

  transition: all 0.3s ease 0s;
}
.confirm:hover {
  background-color: #2d70d2;
  color: white;
}
.delete {
  background-color: white;
  color: rgb(112, 112, 112);

  transition: all 0.3s ease 0s;
}
.delete:hover {
  background-color: #7743b6;
  color: white;
}
