.card {
  margin: 20px;
  width: 250px;
  height: 300px;
  max-height: 350px;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 70% 30%;
  grid-template-areas: 'picture' 'details';
  border-radius: 10px;
  background: white;
  transition: 0.5s all;
}

.card:hover {
  margin: 10px 10px;
  transform: scale(1.05);
  padding: 30px;
  cursor: pointer;
}

.card .card-picture {
  grid-area: 'picture';
  border-radius: 10px;
  background-size: cover;
}
.card .card-details {
  color: rgb(112, 112, 112);

  grid-area: 'details';
  display: flex;
  padding: 10px 20px;
  flex-direction: column;
  align-content: flex-start;
}
.card .card-details .title {
  padding: 2px;
  font-weight: 500;
  font-weight: bold;
}
.card .card-details .stars {
  padding: 2px;
  font-size: 14px;
  color: rgb(73, 221, 191);
}
.card .card-details .price {
  padding: 2px;
  font-size: 16px;
}
.card .card-details .price span {
  font-weight: bold;
}
