.search {
  height: 90vh;
  margin: 50px auto;
  width: 90vw;
}
ul,
li {
  list-style-type: none;
}
.header-title {
  font-size: 35px;
  font-weight: 700;
}
.location-container {
  margin: 30px auto;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
}
.location-container .room-number {
  font-size: 30px;
  font-weight: 500;
  width: 20%;
  height: auto;
  text-align: center;
  align-self: center;
}
.location-container .location-list {
  width: 80%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
